
  <a href='https://connect.squareup.com/oauth2/authorize?scope=MERCHANT_PROFILE_READ ITEMS_READ EMPLOYEES_READ TIMECARDS_READ&client_id=ZutMYNhQxAFWi0kdZXv-zw&redirect_uri=https://173.48.213.229/oath/return'>
    Link to your Square account
  </a>

  <div style="margin:30px 0 0 30px">
    <div ui-sref='templatelist'class="left width-300">
      <i class="xlarge_font left fa fa-file-text"></i>
      <div class="left large_font" style="padding:12px 0 0 12px">Templates</div>
    </div>
    <div ui-sref='templateassign' class="left width-300">
      <i class="xlarge_font left fa fa-play-circle"></i>
      <div class="left large_font" style="padding:12px 0 0 12px">Players</div>
    </div>
    <div class="clear_both"> </div>
  </div>
